POCKETBASE_URL=http://localhost:8090
SMTP_HOST=localhost
SMTP_PORT=1025
SMTP_SECURE=false
SMTP_USER=newsletter@the-moon-records.de
SMTP_PASS=
SMTP_FROM=newsletter@the-moon-records.de
PUBLIC_SITE_URL=https://the-moon-records.de
PB_ADMIN_EMAIL=
PB_ADMIN_PASSWORD=
ADMIN_PASSWORD=
